{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block description %}
{% endblock %}
{% block recursos %}

{% endblock recursos %}
{% block principal %}
    <div class="una-columna">
        <h4>Pinterest timeline</h4>
        <a data-pin-do="embedBoard" href="http://pinterest.com/pinterest/pin-pets/"></a>
    </div>
    <div class="columna-izq">
        <p>
        </p>
    </div>
    <div class="columna-der">
        <p>
        </p>
    </div>
    <script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>
{% endblock %}
