{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block description %}
{% endblock %}
{% block recursos %}
{% endblock recursos %}
{% block principal %}
    <div class="una-columna">
        <h4>Pinterest timeline</h4>
    </div>
    <div class="columna-izq">
        <p>
        </p>
    </div>
    <div class="columna-der">
        <p>
        </p>
    </div>
{% endblock %}
