{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block titulo %}{% if page.metatitle %}{{ page.metatitle }} · {% endif %}{% endblock %}
{% block description %}{{ page.metadescription }}{% endblock %}
{% block recursos %}{% endblock recursos %}
{% block principal %}
    <div class="columna-izq">
        <p>
            {{ page.text1 | raw }}
        </p>
    </div>
    <div class="una-columna">
        <img src="{{ asset('bundles/bellescosesfalsesmain/images/logos-peu-compact.jpg') }}" alt="Credits logo" title="Credits" style="width:630px;margin:40px 0 0 0;">
    </div>
{% endblock %}
