{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block description %}
{% endblock %}
{% block recursos %}
    <script type="text/javascript" src="{{ asset('bundles/bellescosesfalsesmain/js/fades.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var black = [0, 0, 0];
            var yellow = [250, 247, 67];
            var magenta = [231, 0, 138];
            var green = [139, 203, 71];
            var blue = [44, 65, 156];
            APP.colormatrix = [black, yellow, magenta, green];
            APP.hcd = $('#hack-colors-div');
            setGradientCSS3(APP.hcd, 231, 0, 138);
            APP.colorstages = getRandomIntMatrix(3);
            fadeInInterval = setInterval(fireFadeInInterval, 25);
            //$(document).trigger('app/setFade', hcd, getRandomIntMatrix(3));
        });

        function fireFadeInInterval() {
            var color = APP.colormatrix[APP.colorstages[0]];
            console.log('hit ' + color);
            var red = color[0];
            var green = color[1];
            var blue = color[2];
            if (red < 255) red++;
            if (green < 255) green++;
            if (blue < 255) blue++;
            setGradientCSS3(APP.hcd, red, green, blue);
            APP.colormatrix[APP.colorstages[0]] = [red, green, blue];
            if (red == 255 && green == 255 && blue == 255) window.clearInterval(fadeInInterval);
        }
    </script>
{% endblock recursos %}
{% block principal %}
    <div class="home-panel" id="hack-colors-div">
        <img style="width:700px;" src="{{ asset('bundles/bellescosesfalsesmain/images/muntanyes.png') }}" alt="Muntanyes, valls i rius" title="">
    </div>
{% endblock %}
