{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block description %}
{% endblock %}
{% block recursos %}
{% endblock recursos %}
{% block principal %}
    <div class="home-panel">
        <img style="width:700px;" src="{{ asset('bundles/bellescosesfalsesmain/images/muntanyes.png') }}" alt="Muntanyes, valls i rius" title="">
    </div>
{% endblock %}
