{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block description %}
    {% trans %}home.metadescription{% endtrans %}
{% endblock %}
{% block recursos %}
{% endblock recursos %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="home-panel">
            Main div
        </div>
    </div>
{% endblock %}
