{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block description %}Relat de Belles Coses Falses. Una exposició de paisatges. Centre d'Art Terres de l'Ebre Lo Pati{% endblock %}
{% block recursos %}{% endblock recursos %}
{% block principal %}
    <div class="home-panel" id="hack-colors-div">
        <img style="width:780px;" src="{{ asset('bundles/bellescosesfalsesmain/images/muntanyes.png') }}" alt="Muntanyes, valls i rius" title="">
    </div>
{% endblock %}
