/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, button, input, select, textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Marvel', sans-serif;
}

/*@font-face {
    font-family: 'GothamRnd';
    src: url('/fonts/otf/gothamrndmedium.otf');
    src: url('/fonts/ttf/gothamrndmedium.ttf') format('truetype'),
         url('/fonts/svg/gothamrndmedium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}










/* ==========================================================================
   Author's custom styles
   ========================================================================== */
div.constrictor {
    width: 960px;
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration: none;
}




/**
 * HEADER
 */
header {
    background: #FFF;
    width: 140px;
    margin: 0 10px 40px 10px;
    float: left;
    text-align: left;
}

header div.box-header-top {

}

header div.box-header-top h1 {
    margin: 20px 0 0.3em 0;
    font-size: 1.5em;
}

header div.box-header-top h2 {
    margin: 0;
    font-size: 0.9em;
}

header div.box-header-menu {
    margin: 40px 0 10px 0;
}

header div.box-header-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header div.box-header-menu ul li {
    margin: 10px 0;
}

header div.box-header-menu ul li a {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

header div.box-header-menu ul li.current a {
    color: #E7008A;
    text-decoration: underline;
}

header div.box-header-menu ul li a:hover {
    text-decoration: underline;
}

header div.box-header-networks h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0.3em 0;
}

header div.box-header-networks a {
    margin: 0 10px 10px 0;
}

header div.box-header-bottom {
    margin: 80px 0 0 0;
}



/**
 * MAIN
 */
div#principal {
    min-height: 800px;
    margin: 20px 10px;
    width: 780px;
    float: left;
    font-family: "Times New Roman", times;
}

div.home-panel {
    background: #FFF;
    background: -moz-linear-gradient(left,  #FFF 0%, #FFF 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFF), color-stop(100%,#FFF));
    background: -webkit-linear-gradient(left,  #FFF 0%,#FFF 100%);
    background: -o-linear-gradient(left,  #FFF 0%,#FFF 100%);
    background: -ms-linear-gradient(left,  #FFF 0%,#FFF 100%);
    background: linear-gradient(to right,  #FFF 0%,#FFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#FFF',GradientType=1 );
}

div#principal div.columna-izq {
    float: left;
    width: 380px;
    display: block;
    margin-right: 20px;
}

div#principal div.columna-izq h1 {
    margin-top: 0;
}

div#principal div.columna-izq p {
    margin: 0;
}

div#principal div.columna-der {
    float: left;
    width: 380px;
    display: block;
}




/*
 * Actions
 */
a.call-to-action {
    padding: 5px 20px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    text-align: center;
    background-color: #6C1D45;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px #666;
    font-size: 16px;
}

a.call-to-action:hover {
    background-color: #000;
}

a.call-to-action.red {
    background: #D84359;
}

a.call-to-action.grey {
    background: #999;
}

a.call-to-action.green {
    background: #8BC06D;
}

a.call-to-action.black {
    background: #000;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
