{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block description %}
{% endblock %}
{% block recursos %}
{% endblock recursos %}
{% block principal %}
    <div class="constrictor clearfix">
        <div class="home-panel">
            exposicio :: todo
        </div>
    </div>
{% endblock %}
