{% extends 'BellesCosesFalsesMainBundle:Global:layout.html.twig' %}
{% block titulo %}{% if page.metatitle %}{{ page.metatitle }} · {% endif %}{% endblock %}
{% block description %}{{ page.metadescription }}{% endblock %}
{% block recursos %}{% endblock recursos %}
{% block principal %}
    <div class="columna-izq">
        <p>
            {{ page.text1 | raw }}
        </p>
    </div>
    <div class="columna-der">
        <p>
            {{ page.text2 | raw }}
        </p>
    </div>
{% endblock %}
